<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Error! Hubo un problema al procesar los datos.</h1>

            <a onclick="backButton()" class="btn btn-secondary">Volver</a>
            
        </div>
    </header>

</main>