<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Tu Rifa</h1>
            <h3 class="mb-5">
                <em>Organizar tu rifa nunca fue tan facil!</em>
            </h3>
            <h4>
                <p>Con esta pagina podras llevar un control de los numeros vendidos, </p>
                <p>ingresando informacion escencial en cada uno de ellos.</p>
                <br>
            </h4>
            <a href="/signin" class="btn btn-primary">
            Empecemos!!
            </a>
        </div>
    </header>

</main>