
<div class="container p-4">
   <div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="/numbers/add-numbers" method="POST">
                    <div class="form-label">
                        <input type="number" name="numero1" class="form-control" placeholder="Cuantos numeros son?" autofocus>
                    </div>
                    <div class="form-label">
                        <input type="text" name="RewardName" class="form-control" placeholder="Que se sortea?">
                    </div>
                    <div class="form-label">
                        <input type="text" name="RewardValue" class="form-control" placeholder="Ingrese el valor, solo en numeros">
                    </div>
                    <div class="form-label">
                         <textarea name="RewardDescription" rows="6" class="form-control" placeholder="Detalle del sorteo como por ejemplo fecha, por donde se sortea, premios y toda info relevante."></textarea>
                    </div>
                    <div class="form-label">
                        <input type="date" name="RewardDate">
                    </div>
                    <div class="form-label d-grid gap-2">
                        <button class="btn btn-success">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   </div> 
</div>