<div class="container p-4">

    <div class="row ">
     
         {{#if rewards}}
            <div class="card text-center">
                <div class="card-body">

                    <p>Listado de sorteos</p>
                    {{#each rewards}}
                    {{#if RewardNumbersGroup}}
                    <a href="/listNumbers/numbers/{{RewardNumbersGroup}}" class="btn btn-primary m-4">
                    {{RewardName}}
                    </a>
                    {{/if}}
                    {{/each}}
            </div>
            </div>
                    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay numeros guardados..</p>
                <a href="/numbers/add-numbers">Crea uno!</a>
            </div>
        </div>
    {{/if}}

        

    </div>
</div>