<div class="contianer p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                    <div class="form-label">
                        <input type="text" name="fullname" placeholder="Nombre completo" class="form-control" autofocus required>
                    </div>
                    <div class="form-label">
                        <input type="text" name="username" placeholder="Usuario" class="form-control" required>
                    </div>
                    <div class="form-label">
                        <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                    </div>
                    <div class="form-label">
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </div>
                    </form>
                </div>
                <div class="form-label">
                    Ya tenes usuario? <a href="/signin">ingresá</a>
                </div>
            </div>
        </div>
    </div>
</div>